{% extends 'base.html' %} {% block head %}
<title>MotoScrapper - results</title>
<div>
    <h2>This page contains results of your search</h2>
    <p>To go back click <a href="moto/">here</a></p>
</div>
{% endblock %} {% block body %}
<div class="container-fluid">
    <div class="col-sm-8">
        <p>Total number of motorcycles : {{ form.max_value }}</p>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button
                class="btn btn-primary"
                type="submit"
                name="button"
                value="show_button"
            >
                Show
            </button>
        </form>

        {% if no_of_rows %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nr</th>
                    <th scope="col">ID</th>
                    <th scope="col">Brand&Model</th>
                    <th scope="col">Price</th>
                    <th scope="col">Prod Date</th>
                </tr>
            </thead>
            <tbody>
                {% for moto in CMotorcycles %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ moto.id }}</td>
                    <td>{{ moto.brand }} {{ moto.model }}</td>
                    <td>{{ moto.price }}</td>
                    <td>{{ moto.proddate }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No data to show</p>
        {% endif %}
    </div>
    <h2>Graphs</h2>
    <div class="row">
        <div class="col-sm">
            {% load static %}
            <img src="{% static 'graph/barplot.png' %}" alt="Bar plot" />
        </div>
        <div class="col-sm">
            <img src="{% static 'graph/simpleplot.png' %}" alt="Simple plot" />
        </div>
        <div class="col-sm">
            <img src="{% static 'graph/heatmapplot.png' %}" alt="Heat Map" />
        </div>
    </div>
</div>
{% endblock %}
